*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    
    width: 100%;
    height: 90px;
    background-color:rgb(8, 106, 205) ;
    color: #fff;
    box-shadow: 2px 2px 3px black;
    padding: 0px;
    
    position: fixed;
    top: 0px;
    left: 0px;
}
.header img{
    position: absolute;
    margin-top: -10px;
    margin-left: -15px;
    cursor: pointer;
}
.header .navbar{
    width: 40%;
    height: 90px;
    
    margin-top: 0px;
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .navbar .name,.items{
    
    width: 99%;
    height: 49%;
    margin: 2px;
    padding: 3px;
   
    padding-top:20px;
    margin-top: 40px;
}
.header .navbar .name{
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    padding: 5px;
}
.items ul{
  
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: right;
    float: right;
    

}
.items ul li{
    margin: 2px 15px;

    

}
.items ul li a,button{
    text-decoration: none;
    color: white;
    max-width: fit-content;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
}

.items ul li .sublist{
    display: block;
    width: fit-content;
    position: absolute;
    background-color: black;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items ul li .sublist ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    
    display: none;
    
    padding: 1px;
    

 

}
.items ul li .sublist ul li{
    padding: 2px 8px;
    width: 100%;
   
    
    text-align: center;
    width: 98%;
    
}
.items ul li:hover .sublist ul{
    display: flex;
    flex-direction: column;
}
.items ul li:hover,button:hover{
    color: red;
    cursor: pointer;
}
.items ul li .sublist ul li:hover{
    background-color: #fff;
    color: black;
}
.items ul li .sublist ul li:hover a{
   
    color: black;
}
.items ul li .sublist ul li:hover button{
   
    color: black;
}
.items ul li a:hover{
    color: red;
}