<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="i1">
          <img src="../../assets/i1.png" alt="" width="100%" height="250px"/>
        </div>
        <div class="i2">
          
          <h3>Reset Password</h3>
          
          <div class="form">
            <form #f="ngForm" (ngSubmit)="reset(f.value)">
    
              
              <input type="password" name="pw" placeholder="Enter Recent Password"  autocomplete="off" ngModel>
              <input type="password" name="npw" placeholder="Enter New Password"  autocomplete="off" ngModel>
              <input type="password" name="cpw" placeholder="Re-Enter New Password"  autocomplete="off" ngModel>
              <button type="submit"  id="submit">Reset</button>
            </form>
          </div>
          
        </div>
        <div class="i3"></div>
      </div>
</body>
</html>